
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700;1,900&family=Quicksand:wght@300;400;500&display=swap');



h2,.form-group,label,.form-control, .btn-primary .div .title{
    color:rgb(2, 2, 2);
   font-family:Quicksand;
   font-weight:500;
 }
 /* create button */
 .btn-primary{
     background-color:#306b9c;
     font-family:Quicksand;
     border-radius: 3px;
     border:none;
     color:white;
     
 }

 .btn-primary:hover{
    background-color:#3d8ed1;
 }
/* TITLES */

.label, .subtitle{
    font-family:Quicksand;
    font-weight:500;


 }

 /* delete and edit button */
 .button.is-info{
     background-color:#1663a3;
     font-family:Quicksand;
     font-weight:500;
 }

 .button.is-info:hover{
    background-color:#1f82d3;
    font-family:Quicksand;
    font-weight:500;
}

.button.is-link{
    background-color:#1663a3;
    font-family:Quicksand;
    font-weight:500;

}

.button.is-link:hover{
    background-color:#6eb6f1;
    font-family:Quicksand;
    font-weight:500;
}

.button.is-link.is-light{
    background-color:#6eb6f1;
    font-family:Quicksand;
    font-weight:500;
    color:white;
}

.button.is-link.is-light:hover{
    background-color:#419fec;
    font-family:Quicksand;
    font-weight:500;
    color:white;
}

.title{
    font-family:Playfair;
    font-weight:700;
    font-style:italic;
}

.label{

}