
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');



h2,.form-group,label,.form-control, .btn-primary .div .title{
    color:#4c4c4c;
   font-family:Quicksand;
   font-weight:500;
 }
 /* create button */
 .btn-primary{
     /* background-color:#b8b7b7; */
     font-family:Quicksand;
     border-radius: 3px;
     border:none;
     color:white;
    
     
 }

 .btn-primary:hover{
    /* background-color:#b8b7b7; */
 }
/* TITLES */

.label, .subtitle{
    font-family:Quicksand;
    font-weight:500;


 }

 /* delete and edit button */
 .button.is-info{
     /* background-color:#b8b7b7; */
     font-family:Quicksand;
     font-weight:500;
 }

 .button.is-info:hover{
    /* background-color:#a09f9f; */
    font-family:Quicksand;
    font-weight:500;
}

.button.is-link{
    /* background-color:#a09f9f; */
    font-family:Quicksand;
    font-weight:500;

}

.button.is-link:hover{
    /* background-color:#b8b7b7; */
    font-family:Quicksand;
    font-weight:500;
}

.button.is-link.is-light{
    /* background-color:#6eb6f1; */
    font-family:Quicksand;
    font-weight:500;
    color:white;
}

.button.is-link.is-light:hover{
    /* background-color:#a09f9f; */
    font-family:Quicksand;
    font-weight:500;
    color:white;
}

.main-title{
    font-family:Playfair;
    font-weight:700;
    font-style:italic;
    /* font-size:xx-large; */
    margin-bottom: 30px;
    font-size: 45px;
}

.title{
    font-family:Quicksand;
    font-weight:600;
}

.button.button.is-primary.is-outlined.mr-4{

    font-family:Quicksand;
    font-weight:700;
}

.checkbox{
    width: 20px;
    height:20px;align-items: center;
    margin-left: 5px;
    margin-top: 5px;

}

.image{
    max-width: 550px;
    height:auto;
}

